---
- name: Initialize Kubernetes master node
  hosts: k8s_master
  become: yes
  vars:
    k8s_version: "1.28.5"
    pod_network_cidr: "10.244.0.0/16"
  tasks:
    - name: Initialize cluster
      ansible.builtin.shell: |
        kubeadm init \
          --pod-network-cidr {{ pod_network_cidr }} \
          --kubernetes-version v{{ k8s_version }} \
          --apiserver-advertise-address {{ ansible_default_ipv4.address }}
      register: kubeadm_init
      args:
        creates: /etc/kubernetes/admin.conf


    - name: Create kube directory
      ansible.builtin.file:
        path: /home/dukhovskoy/.kube
        state: directory
        owner: dukhovskoy
        group: dukhovskoy
        mode: 0755


    - name: Copy admin.conf
      ansible.builtin.shell: |
        cp -f /etc/kubernetes/admin.conf /home/dukhovskoy/.kube/config
        chown dukhovskoy:dukhovskoy /home/dukhovskoy/.kube/config


    - name: Extract join command
      ansible.builtin.shell: |
        kubeadm token create --print-join-command
      register: join_cmd


    - name: Save join command
      ansible.builtin.copy:
        content: "{{ join_cmd.stdout }}"
        dest: /tmp/k8s_join_command.txt
        owner: dukhovskoy
        group: dukhovskoy
        mode: 0644
