---
- name: Initialize Kubernetes master
  hosts: k8s_master
  become: yes
  vars:
    pod_network_cidr: "10.244.0.0/16"

  tasks:
    - name: Check admin.conf
      stat:
        path: /etc/kubernetes/admin.conf
      register: adminconf

    - name: Reset broken cluster if exists
      shell: kubeadm reset -f
      when: adminconf.stat.exists

    - name: Init cluster
      shell: |
        kubeadm init \
          --pod-network-cidr={{ pod_network_cidr }} \
          --apiserver-advertise-address={{ ansible_default_ipv4.address }} \
          --cri-socket unix:///run/containerd/containerd.sock
      when: not adminconf.stat.exists

    - name: Prepare kubeconfig for root
      shell: |
        mkdir -p /root/.kube
        cp -f /etc/kubernetes/admin.conf /root/.kube/config

    - name: Wait for API server
      wait_for:
        host: "{{ ansible_default_ipv4.address }}"
        port: 6443
        timeout: 900

    - name: Wait for readyz
      shell: kubectl --kubeconfig /etc/kubernetes/admin.conf get --raw='/readyz'
      retries: 60
      delay: 5
      until: readyz.rc == 0
      register: readyz
