---
- name: Generate join command
  hosts: k8s_master
  become: yes

  tasks:
    - name: Create join command
      shell: kubeadm token create --print-join-command
      register: join_cmd

    - name: Save join script
      copy:
        dest: /tmp/k8s_join.sh
        mode: '0755'
        content: "{{ join_cmd.stdout }} --cri-socket unix:///run/containerd/containerd.sock"
