---
- name: Generate join command
  hosts: k8s_master
  become: yes

  tasks:
    - name: Wait for Kubernetes API to be ready (/readyz)
      shell: |
        kubectl --kubeconfig /etc/kubernetes/admin.conf get --raw='/readyz'
      register: readyz
      retries: 60
      delay: 5
      until: readyz.rc == 0
      changed_when: false

    - name: Create join command
      shell: |
        kubeadm token create \
          --kubeconfig /etc/kubernetes/admin.conf \
          --print-join-command
      register: join_cmd

    - name: Save join script
      copy:
        dest: /tmp/k8s_join.sh
        mode: '0755'
        content: "{{ join_cmd.stdout }} --cri-socket unix:///run/containerd/containerd.sock"
