---
- name: Join workers
  hosts: k8s_workers
  become: yes
  vars:
    master_host: "{{ groups['k8s_master'][0] }}"

  tasks:
    - name: Fetch join script
      slurp:
        src: /tmp/k8s_join.sh
      register: join_file
      delegate_to: "{{ master_host }}"

    - name: Join cluster
      shell: "{{ join_file.content | b64decode }}"
      args:
        creates: /etc/kubernetes/kubelet.conf
