---
- name: Install Calico
  hosts: k8s_master
  become: yes

  tasks:
    - name: Wait for API ready
      shell: kubectl --kubeconfig /etc/kubernetes/admin.conf get --raw='/readyz'
      retries: 60
      delay: 5
      until: readyz.rc == 0
      register: readyz

    - name: Apply Calico
      shell: kubectl --kubeconfig /etc/kubernetes/admin.conf apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.26.1/manifests/calico.yaml
      retries: 10
      delay: 8
      register: calico
      until: calico.rc == 0
